footer{
    background-color: #ffe8b4;
}

#footer-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8% 24px 8%;
}
#copyrigth{
    color: 1d1d1d;
    font-weight: 500;
    font-size: 16px;

}
@media (max-width: 600px) {
    #footer-itens{
        flex-direction: column;
    }
    
}