header{
   width: 100%;
   padding: 28px 8%;
}
 #navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-solid{
font-size: 24px;
color: #e9a209;
}
#nav-list {
    display: flex;
    justify-content: center;
    gap: 48px;
}
.nav-item a{
    font-size: 10px;
    color: #1d1d1dad;
    font-weight: 600;

}
.nav-item.active a{
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
}
#mobile-menu{
    display: none;
}
#mobile-btn{
    display: none;
}
